page-carteira-pessoa {
    .venda-valor {
        font-size: 1em;
        color: green;
        text-align: right;
    }
    .venda-pontos {
        text-align: right;
        font-size: 1em;
        color: $tema;
    }
}