<ion-header>
    <ion-navbar>
        <ion-item no-lines>
            <ion-title>
                Transações
            </ion-title>
            <!-- <ion-icon item-end name="search"></ion-icon> -->
        </ion-item>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="obtenhaTransacoes($event)">
        <ion-refresher-content pullingIcon="refresh" pullingText="" refreshingSpinner="circles" refreshingText=""></ion-refresher-content>
    </ion-refresher>

    <ion-list class="lista" no-lines *ngIf="!estaCarregando && cuponsVendasAgrupados.length > 0">
        <div *ngFor="let cupomVendas of cuponsVendasAgrupados">
            <ion-item-divider> {{cupomVendas[0].Cupom.DataValidade | Data}}
            </ion-item-divider>
            <div class="item-customizado" *ngFor="let cupomVenda of cupomVendas">
                <ion-item>
                    <ion-avatar item-start>
                        <img [src]="obtenhaLogoEmpresa(cupomVenda.IdEmpresa)">
                    </ion-avatar>
                    <h2>{{cupomVenda.NomeEmpresa}}</h2>
                    <p>{{cupomVenda.DescricaoPerfilEmpresa}}</p>

                    <div item-end>
                        <p *ngIf="cupomVenda.Venda" class="venda-valor">
                            R$ {{cupomVenda.Venda.Valor}}
                        </p>
                    </div>

                    <p class="warning" *ngIf="!cupomVenda.Venda && !cupomVenda.Cupom.Expirado">
                        Expira em: {{cupomVenda.Cupom.DataValidade | Data}}
                    </p>

                    <p item-end class="danger" *ngIf="!cupomVenda.Venda && cupomVenda.Cupom.Expirado">
                        <i class="fas fa-clock" style="margin-right:5px"></i>Expirado
                    </p>

                    <img onerror="this.src='https://png.pngtree.com/svg/20170602/person_1058425.png'" *ngIf="!cupomVenda.Venda && !cupomVenda.Cupom.Expirado" class="svg-qrcode" item-end src="https://image.flaticon.com/icons/svg/286/286003.svg" alt="" (click)="abraQrCode(cupomVenda)">
                </ion-item>
            </div>
        </div>
    </ion-list>

    <lista-vazia *ngIf="!estaCarregando && cuponsVendasAgrupados.length == 0">
    </lista-vazia>

    <carregando *ngIf="estaCarregando">
    </carregando>

    <ion-fab bottom right>
        <button ion-fab (click)="abraGeracaoDeCupomViaCodigo()">
                <i class="fas fa-qrcode"></i>
        </button>
    </ion-fab>
</ion-content>