// FONTES
h2,
h3,
h1,
.item-divider .label {
    font-family: 'Lato', sans-serif !important;
}

p {
    font-family: 'Roboto', sans-serif !important;
}

.item-input {
    font-size: 2.0rem;
}

.item-select .label {
    font-size: 2rem;
}

.content,
.filtro {
    background-color: $background;
}

.warning {
    color: $tema;
    font-weight: 500;
}

.danger {
    color: $danger !important;
    font-weight: 500;
}

.header::after {
    transform: rotate(180deg) !important;
    bottom: 0px !important;
}

.qrCodeView {
    background: transparent !important;
}

.toolbar-background {
    background: $tema !important;
}

.back-button,
.toolbar-title,
.toolbar ion-icon,
button .fas {
    color: $light !important;
}

.card-custom {
    &.full {
        height: 89vh !important;
    }
    .list {
        margin: 0;
    }
    padding-bottom: 10px;
    padding-top: 5px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    .titulo {
        color: #424242;
        position: relative;
        top: 0px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 0px;
        font-weight: 600;
        font-size: 1.6rem;
    }
    .botao-rodape {
        position: relative;
        bottom: 0px;
        margin-bottom: 5px;
        margin-top: 10px;
        text-align: center;
        padding: 0;
        .item-inner {
            background-image: none !important;
            padding-right: 0px !important;
        }
    }
}

.item-divider {
    border-bottom: none;
    background-color: white !important;
}

.scroll-content {
    padding-bottom: 0 !important;
    overflow: auto;
}

.popover-informacoes {
    .popover-content {
        box-shadow: 0px 0px 3px 2px rgb(219, 219, 219);
        background-color: $tema;
        overflow: auto;
        color: $light;
        text-align: center;
        p {
            font-size: 1.2em;
            padding: 5px;
        }
    }
}

icone-informacao {
    z-index: 1;
}

ion-avatar {
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background-color: $light;
}

ion-select {
    max-width: 100% !important;
}

ion-icon {
    &[class*="custom"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    &[class*="md-custom-carteira"] {
        mask-image: url(../assets/svg/carteira.svg);
    }
    &[class*="ios-custom-carteira"] {
        mask-image: url(../assets/svg/carteira.svg);
    }
}

.popover-shadow {
    border-radius: 10px;
    ion-backdrop {
        opacity: 0.6;
    }
}

.popover-avaliacao {
    min-height: 300px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-height: 500px) {
    ion-fab {
        display: none !important;
    }
    .scroll-content {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    ion-footer {
        display: none !important;
    }
}

.botao {
    color: $light;
    margin: 10px auto;
    &.facebook {
        background-color: #3b5998;
        color: $light;
        ion-icon {
            margin-right: 10px;
        }
    }
}

ion-header {
    .item {
        background: transparent !important;
    }
}

.item-customizado {
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    .item {
        border-radius: 10px;
    }
    &.no-border {
        .item {
            border-radius: 0px;
        }
    }
}

.card,
.item-customizado {
    margin-bottom: 5px;
    // box-shadow: 0 2px 2px 0 rgba(150, 150, 150, 0.14), 0 3px 1px -2px rgba(150, 150, 150, 0.2), 0 1px 5px 0 rgba(150, 150, 150, 0.12);
}

.titulo {
    text-align: center;
    padding: 10px;
}

.toolbar-content {
    ion-icon {
        margin: 0 5px 0 20px !important;
    }
}

.grid-botoes {
    .col {
        padding: 0px !important;
    }
}

.alertaPadrao .alert-wrapper {
    background-color: $tema;
}

.alertaPadrao {
    p {
        text-align: center;
        font-size: 1.8rem;
        color: $light;
        margin-bottom: 5px;
        margin-top: 5px;
    }
}

.alertaMensagem {
    img {
        margin: 0 auto;
        display: block;
        height: 70px;
    }
    p {
        text-align: center;
        font-size: 1.8rem;
        color: $light;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .alert-wrapper {
        border-radius: 10px;
    }
}

.erro .alert-wrapper {
    background-color: #e45353;
}

.sucesso .alert-wrapper {
    background-color: #33be5c;
}

.footer-botoes {
    button {
        text-align: center !important;
        font-weight: 600;
        color: $light;
    }
    background-color: $tema;
}

.checkbox-inner {
    border-color: $light !important;
}

.avatar-header {
    background-color: white;
    border-radius: 100%;
    position: absolute;
    height: 45px;
    width: 45px;
    right: 5px;
    top: -10px;
    padding: 2px;
    object-fit: cover;
}

ion-fab {
    .fas {
        font-size: 3rem;
    }
}

// ion-icon {
//     &[class*="icone-"] {
//         mask-size: contain;
//         mask-position: 50% 50%;
//         mask-repeat: no-repeat;
//         background: currentColor;
//         width: 1em;
//         height: 1em;
//     }
//     // custom icons
//     &[class*="icone-kesh"] {
//         mask-image: url(../assets/db-icons/search-primary.svg);
//     }
// }