<ion-header>
    <ion-navbar>
        <ion-item no-lines>
            <ion-title>
                Opções
            </ion-title>
        </ion-item>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list no-lines>
        <!-- <div class="item-customizado">
            <button ion-item (click)="abraPerfilPessoa()">
                        <ion-icon color="tema" item-start name="person"></ion-icon>
                        <h2>
                            Editar
                        </h2>
                        <p>
                            Alterar dados da conta
                        </p>
                    </button>
        </div> -->
        <div class="item-customizado">
            <button ion-item (click)="abraAlteracaoDeSenha() ">
                                    <ion-icon color="tema" item-start name="lock"></ion-icon>
                                    <h2>Alterar senha</h2>
                                    <p>Mudar senha de acesso</p>
                                </button>
        </div>
        <div class="item-customizado">
            <button ion-item (click)="compartilhe()">
                <ion-icon color="tema" item-start name="share"></ion-icon>
                <h2>
                    Compartilhe
                </h2>
                <p>
                    Convide seus amigos para ganhar Keshs
                </p>
            </button>
        </div>
        <div class="item-customizado">
            <button ion-item>
                    <ion-icon color="tema" item-start name="help"></ion-icon>
                    <h2>
                        Ajuda
                    </h2>
                    <p>
                        Veja os tutorais  
                    </p>
                </button>
        </div>
        <div class="item-customizado">
            <button ion-item (click)="sincronize()">
                        <ion-icon color="tema" item-start name="refresh"></ion-icon>
                        <h2>
                            Sincronizar
                        </h2>
                        <p>
                            Atualizar todas informações  
                        </p>
                    </button>
        </div>

        <div class="item-customizado">
            <button ion-item (click)="sair()">
                            <ion-icon color="tema" item-start name="power"></ion-icon>
                            <h2>Sair</h2>
                        </button>
        </div>
    </ion-list>
</ion-content>